<div class="jumbotron">
  <h1><%= current_user.name %>'s Dashboard</h1>
</div>

<div class="container-fluid">
  <div class="page-header">
    <h1>Enter New Patient</h1>
  </div>
  <button><%= link_to "New Patient Entry", new_patient_path %></button>
</div>

<div class="container-fluid">
  <div class="page-header">
    <h1>Patient Directory</h1>
  </div>
  <%= render 'layouts/patientsindex' %>
</div>
