<div class="col-md-11">
  <% if @users.any? %>

  <br />

    <div class="container">
      <div class="page-header">
        <h3>Search Results</h3>
      </div>
    </div>

    <% @users.each do |user| %>

    <div class="hovertip"><%= link_to user.name, user %><% if user.id == current_user.id %><small>(You)</small><% end %>
      <span class="hovertiptext"><%= user.name %><br />
        Email: <%= user.email %>
        <% if user.admin %><br /><small>admin</small><% end %>
       </span>
    </div>
    <br />

    <% end %>

  <% else %>

    <div class="container">
      <div class="page-header">
        <h3>Search Results</h3>
      </div>
      <p>No users could be found.</p>
    </div>
  <% end %>

</div>
