<body>
  <div class="jumbotron">
    <h1>Medlog-API</h1>
  </div>

  <div class="container-fluid">
    <div class="page-header">
      <h2>What is it?</h2>
    </div>
    <p>
      Medlog-API is a service built for medical care professionals to have easy access to basic
      information about their patients.
    </p>
  </div>

  <div class="container-fluid">
    <div class="page-header">
      <h2>What is it used for?</h2>
    </div>
    <p>
      Medlog-API's main use is to store basic information about patients in a central database.
      These records are only accessible by a patient's healthcare professional.
      Medlog's goal is to create an easy way for medical professionals to secure and update
      data regarding their patients, in order to minimize time spent doing paperwork
      and manually looking up or entering patient information.
    </p>
  </div>
</body>
