<div class="container">
  <div class="jumbotron">
    <h1>ChartPort MD</h1>
  </div>
</div>

<div class="container">
  <div class="page-header">
    <h2>What is it?</h2>
  </div>
  <p>
    ChartPort MD is a service built for medical care professionals to have easy access to basic
    information about their patients.

    It's all in the name- ChartPort MD is an easy way for medical professionals
    to manage digital versions of patient records (or "charts") and easily import
    and export them to and from other doctors.
  </p>
  <br />
  <p>
    ChartPort MD's main use is to store basic information about patients in a central database.
    These records are only accessible by a patient's healthcare professional.
    ChartPort MD's goal is to create an easy way for medical professionals to secure and update
    data regarding their patients, in order to minimize time spent doing paperwork
    and manually looking up or entering patient information.

    All information within the system is fully encrypted- leading to privacy from
    unwanted eyes for you and your patients.
  </p>
</div>
