<div class="jumbotron">
  <h1>Transfer Patient records from another facility.</h1>
</div>

<div class="container-fluid">
  <div class="page-header">
    <h2>Ease of Access</h2>
  </div>
  <p>
    Scheduling a transfer is easy, and works similarly to JSON exporting.
    Navigating to `/patient/:patient_id/import` will shift the existing patient records
    to your facility's database.
  </p>
</div>
