<div class="container-fluid">
  <div id="top">
    <div class="jumbotron">
      <h1>ChartPort M.D.</h1>
      <p>A cloud-based solution for maintaining patient health records.</p>
    </div>
  </div>

  <div id="mission">
    <div class="page-header">
      <h2>Our Mission</h2>
    </div>
    <div class="container">
      <p>
        At its core, ChartPort exists to streamline doctor-patient
        interactions to help bring healthcare into the modern digital age.
      </p>
      <p>
        Through our platform, doctors can easily create, view, or edit records about
        patients they see.  Our hope is to minimize time healthcare professionals
        spend doing paperwork and maximize time spent tending to patients, giving them
        the care they need.
      </p>
      <p>
        In addition, ChartPort allows easy transferral of patient records between medical
        professionals and facilitites.  In dire situations, we can help alleviate guesswork
        by providing an easy, extensive record for a patient.
      </p>
    </div>
  </div>

  <div id="features">
    <div class="page-header">
      <h2>ChartPort Features</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-5" id="box">
          <div class="page-header">
            <h3>Accounts <i class="fa fa-users"></i></h3>
          </div>
          <p>
            ChartPort MD features support for two types of user accounts, medical professionals and administrators.
          </p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5" id="box">
          <div class="page-header">
            <h3>Patient Records <i class="fa fa-address-card"></i></h3>
          </div>
          <p>
            Extensive record keeping, including contact information, notes from appointments,
            and prescription information.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5" id="box">
          <div class="page-header">
            <h3>Hospital Registry <i class="fa fa-hospital-o"></i></h3>
          </div>
          <p>
            A registry of hospitals using ChartPort, maintained by administrators.
            Medical accounts can register to each hospital.  All hospital pages include
            Google Maps support for geolocation.
          </p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5" id="box">
          <div class="page-header">
            <h3>Encryption <i class="fa fa-user-secret"></i></h3>
          </div>
          <p>
            ChartPort features extensive encryption of its data- allowing data privacy
            for both you and your patients.
          </p>
        </div>
      </div>
    </div>
  </div>
