<div class="container-fluid">
  <div class="jumbotron" id="top">
    <h1>ChartPort M.D.</h1>
    <hr />
    <p>A cloud-based solution for maintaining patient health records.</p>
  </div>

  <br />

  <div id="mission">
    <div class="page-header">
      <h2>Our Mission <small>What We Set Out To Do</small></h2>
    </div>
    <p>
      At its core, ChartPort exists to streamline doctor-patient
      interactions to help bring healthcare into the modern digital age.
    </p>
    <p>
      Through our platform, doctors can easily create, view, or edit records about
      patients they see.  Our hope is to minimize time healthcare professionals
      spend doing paperwork and maximize time spent tending to patients, giving them
      the care they need.
    </p>
    <p>
      In addition, ChartPort allows easy transferral of patient records between medical
      professionals and facilitites.  In dire situations, we can help alleviate guesswork
      by providing an easy, extensive record for a patient.
    </p>
  </div>

  <div id="features">
    <div class="page-header">
      <h2>ChartPort Features</h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="page-header">
          <h3>Accounts</h3>
        </div>
        <p>
          ChartPort MD features support for two types of user accounts, medical professionals and administrators.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="page-header">
          <h3>Patient Records</h3>
        </div>
        <p>
          Extensive record keeping, including contact information, notes from appointments,
          and prescription information.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="page-header">
          <h3>Hospital Registry</h3>
        </div>
        <p>
          A registry of hospitals using ChartPort, maintained by administrators.
          Medical accounts can register to each hospital.  All hospital pages include
          Google Maps support for geolocation.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="page-header">
          <h3>Encryption</h3>
        </div>
        <p>
          ChartPort features extensive encryption of its data- allowing data privacy
          of both you and your patients.
        </p>
      </div>
    </div>
  </div>
