<% if @patients.any? %>

<%= will_paginate @patients %>

  <% if @patients.where(updated_at: (Time.now - 24.hours)..Time.now).any? %>

    <% @patients.where(updated_at: (Time.now - 24.hours)..Time.now).each do |patient| %>
    <p><%= link_to patient.name, patient %></p>

    <% end %>

  <% else %>
    <p>No Recent Patients</p>
  <% end %>

<% else %>

<p>No Patients yet.</p>

<% end %>
