<div class="container">
  <div class="jumbotron">
    <h1>Patient Records have been transferred.</h1>
    <hr />
    <p>You may now return to your <%= link_to "Dashboard", dashboard_path %>.</p>
  </div>
</div>
