// Place all the styles related to the hospitals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map  {
  width: 75%;
  height: 400px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
}
