// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
}

#top .jumbotron {
  background-color: rgba(161, 155, 124, 0)!important;
}

#box {
  border: 1px solid;
  min-height: 200px;
  margin-bottom: 25px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.0);
  transition: box-shadow 0.3s ease-in-out;
}
#box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#top {
  position: relative;
  height: 60vh;
}
#top:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-198631194437/img/medical-563427_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity : 0.3;
  z-index: -1;
}

#mission {
  position: relative;
}

#features {
  height: 50vh;
  position: relative;
}
