// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.popup {
  text-align: center;
  vertical-align:middle;
  display: none;
}
