// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashpanel {
  border: 1px solid;
  overflow: hidden;
  min-height: 200px;
}

#vertical_nav {
  left: 0;
  position: absolute;
  height:calc(100vh - 110px);
  width: 110px;
  background-color: #2780e3;
  a{
    color: white;
  }
}

.nav>li>a:hover {
  background-color: #1967be !important;
}

.dropdown-menu {
  li a{
    color: black !important;
  }
}
