// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashpanel {
  border: 1px solid;
  overflow: hidden;
  min-height: 200px;
}

.nav>li>a:hover {
  background-color: #1967be !important;
}

.dropdown-menu {
  li a{
    color: black !important;
  }
  li a:hover {
    color: white !important;
  }
}
