<% if @patients.any? %>

<%= will_paginate @patients %>

  <button class="btn btn-default"><%= link_to "Search Database", patients_path %> <span class="glyphicon glyphicon-list"></span></button>

  <hr />

  <% @patients.where(updated_at: (Time.now - 24.hours)..Time.now).each do |patient| %>
  <h4>Recent Patients</h4>
  <p>
    <%= link_to patient.name, patient %>
  </p>

  <% end %>

<% else %>

<p>No Patients yet.</p>

<% end %>
